@import "tailwindcss";
@import "tw-animate-css";

@import "./config.css";
@import "./theme.css";
@import "./font.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground min-h-screen font-sans antialiased;
  }
}
